[workspace]
members = ["extensions/sns", "extensions/nns", "extensions-utils"]

[workspace.package]
authors = ["DFINITY Team"]
publish = false
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/dfinity/dfx-extensions"

[workspace.dependencies]
dfx-core = { git = "https://github.com/dfinity/sdk", rev = "2a2d0450bc5138bef3e0902794b680fa3955ac36" }
dfx-extensions-utils.path = "./extensions-utils"

anyhow = "1.0.70"
candid = "0.9.0"
clap = { version = "4.2.1", features = ["derive", "env"] }
flate2 = { version = "1.0.25", default-features = false, features = ["zlib-ng"] }
fn-error-context = "0.2.1"
futures-util = "0.3.28"
ic-agent = "0.25.0"
ic-utils = "0.25.0"
reqwest = { version = "0.11.16", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
    "native-tls-vendored",
] }
serde = "1.0.159"
slog = "2.7.0"
tempfile = "3.5.0"
tokio = "1.27.0"
url = "2.3.1"

# Config for 'cargo dist'
[workspace.metadata.dist]
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "aarch64-apple-darwin",
]
unix-archive = ".tar.gz"
checksum = "sha256"
dist = true
allow-dirty = ["ci"]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.7"
# The installers to generate for each app
installers = []


# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[patch.crates-io.ic-agent]
version = "0.25.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "6d923cbc918852ef5bfaeb08e63c86580aa80ffe"

[patch.crates-io.ic-utils]
version = "0.25.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "6d923cbc918852ef5bfaeb08e63c86580aa80ffe"
