[workspace]
members = ["extensions/sns", "extensions/nns", "extensions-utils"]

[workspace.package]
authors = ["DFINITY Team"]
# Temp hack until https://github.com/axodotdev/cargo-dist/issues/187 is resovled.
# Nothing will actually be published (unless `cargo publish` is executed (and it shouldn't)).
publish = true
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/dfinity/dfx-extensions"

[workspace.dependencies]
dfx-core = { git = "https://github.com/dfinity/sdk", rev = "6272e370fb37074734ae026bc0a0161d7c2a9fe4" }
dfx-extensions-utils.path = "./extensions-utils"

anyhow = "1.0.70"
clap = { version = "4.2.1", features = ["derive", "env"] }
fn-error-context = "0.2.1"
futures-util = "0.3.28"
ic-agent = "0.25.0"
ic-utils = "0.25.0"
reqwest = { version = "0.11.16", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
    "native-tls-vendored",
] }
serde = "1.0.159"
slog = "2.7.0"
tempfile = "3.5.0"
tokio = "1.27.0"
url = "2.3.1"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.5"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.66.1"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "aarch64-apple-darwin",
]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[workspace.metadata.release]
# Temp hack until https://github.com/axodotdev/cargo-dist/issues/187 is resovled.
publish = false

[patch.crates-io.ic-agent]
version = "0.25.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "6d923cbc918852ef5bfaeb08e63c86580aa80ffe"

[patch.crates-io.ic-utils]
version = "0.25.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "6d923cbc918852ef5bfaeb08e63c86580aa80ffe"
